/* Common styles for both light and dark modes */
.container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 150px 150px 50px 150px ;
  
}

.imageContainer {
  margin-bottom: 20px;
}

.profileImage {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.content {
  padding: 5px;
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: bolder;
  text-align: left;
}

p {
  font-size: 16px;
  margin-bottom: 50px;
  text-align: justify;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 40%;
  text-decoration: none;
  text-align: center;
}

@media (max-width: 1090px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
    padding-top: 150px;
  }

  .profileImage {
    width: 350px;
    height: 350px;
    border-radius: 50%;
  }
  
}

@media (max-width: 850px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 50px;
    padding-top: 140px;
    text-align: center;
    
  }


  .imageContainer {
    margin-bottom: 10px;
  }
  
  .profileImage {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
  
  .content {
    padding: 0;
    display: block;
    flex-direction: column;
    
  }

  
  h1 {
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bolder;
    text-align: justify;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: justify;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 50%;
    text-decoration: none;
    text-align: center;
  }
  
}

/* Light mode specific styles */
.light {
  background-color: #f8f8f8;
  color: #333;
}

.light .button {
  background-color: #333;
  color: #f8f8f8;
  
}

.light .button:hover {
  background-color: #575757;
  color: #f8f8f8;
  cursor: pointer; 
}

/* Dark mode specific styles */
.dark {
  background-color: #231B3B;
  color: #f8f8f8;
}

.dark .button {
  background-color: #ff6600;
  color: #f8f8f8;
}

.dark .button:hover {
  background-color: #fa7923;
  color: #f8f8f8;
  cursor: pointer;
}
