/* Common styles for both light and dark modes */
.contactme-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  color: #333;
}

.contact-container {
  display: flex;
  padding: 20px;
  margin-bottom: 20px;
  flex-direction: row;
  /* gap: 15px; */
  color: #333;
  width: 100%;
}

/* Contact Details Styles */
.contact-details {
  padding: 10px;
  background-color: #f8f8f8;
  /* border-radius: 10px; */
  width: 50%;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); */
}

.contact-details h2 {
  padding-top: 20px ;
  padding-left: 5px;
  font-size: 45px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); */
}

.contact-details p {
  padding: 5px;
  font-size: 20px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); */
}

.contact-info {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.contact-icon {
 padding: 10px;
 font-size: 30px;
}

.contact-info p {
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  
}

/* Message Form Styles */
.message-form {
  padding: 30px;
  background-color: #f8f8f8;
  /* border-radius: 10px; */
  width: 50%;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); */
}

.form {
  padding: 30px;
  width: 90%;
}

/* Form Field Styles */
.form-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form-group-name{
  display: flex;
  gap: 20px;
  flex-direction: row;
  margin-bottom: 20px;
}

.form-group-name :nth-child(1),.form-group-name :nth-child(2) {
  width: 50%;

}

.form-group-name input{
  padding: 10px;
  border: 2px solid #333;
  /* border-radius: 5px; */
  font-size: 16px;
  outline: none;
}

.form-group input{
  flex: 1;
  padding: 10px;
  border: 2px solid #333;
  /* border-radius: 5px; */
  font-size: 16px;
  outline: none;
}


.form-group textarea {
  padding: 10px;
  border: 2px solid #333;
  /* border-radius: 5px; */
  font-size: 16px;
  font-family:Arial, Helvetica, sans-serif;
  resize: none; 
  outline: none;
  height: 180px; 
  width: 100%;
}

/* Form Button Styles */
.message-form button[type="submit"] {
  background-color: #ff6600;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  width: 50%;
  transition: background-color 0.3s ease;
}

/* Form Button Hover Effect */
.message-form button[type="submit"]:hover {
  background-color: #e65100;
}

/* Icon Styles */
/* .contact-details h2 svg,
.contact-details p svg {
  margin-right: 5px;
  vertical-align: middle;
} */

/* Dark Mode Styles */
.dark {
  background-color: #231B3B;
  color: #fff;
}

/* Light Mode Styles */
.light {
  background-color: #f8f8f8;
  color: #333;
}

/* Dark Mode Styles for Contact Details */
.dark .contact-details {
  background-color: #231B3B;
  color: #fff;
}

/* Dark Mode Styles for Message Form */
.dark .message-form {
  background-color: #231B3B;
  color: #fff;
}

.dark .form-group textarea, .dark .form-group input, .dark .form-group-name input {

  background-color: #231B3B;
  color: #fff;
  border: 2px solid #fff;
}

@media (max-width: 820px) {
  .contactme-section{
    margin-left: 0px;
    padding-left: 0px;
  }
  .contact-container {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    /* gap: 15px; */
    color: #333;
    width: 100%;
  }

  .contact-info p {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .contact-details {
    padding-left: 20px;
    margin-left: 0px;
    width: 100%;
  }

  .message-form {
    padding-left: 0px;
    margin-left: 0px;
    width: 100%;
  }
  
  .form{
    margin-left: 0px;
  }

  .form-group{
    margin-left: 0px;
  }
}
